{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block extra_css %}
<style>
    .form-header {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .form-footer {
        margin-top: 25px;
        text-align: center;
        font-size: 0.9rem;
        color: var(--text-body);
        opacity: 0.9;
    }

    /* Centers the submit button cleanly */
    .form-actions {
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }

    .password-container{
        position: relative;
        width: 100%;
    }

    .password-container input{
        width: 100%;
        padding-right: 45px; /* Space for the eye icon */
    }

    .password-container button{
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);

        background: transparent;
        border: none;
        cursor: pointer;

        color: var(--text-body);
        font-size: 1rem;
        padding: 0;
    }

    .password-container button:hover{
        color: var(--text-main);
    }

</style>

{% endblock %}

{% block content %}
<div class="form-header">
    <h1>Login</h1>
    <p>Welcome back to your quiet space.</p>
</div>

<form action="{{ url_for('auth.login') }}" method="POST">

    <label for="username">Username</label>
    <input
        type="text"
        oninput="this.value = this.value.toLowerCase();"
        id="username"
        name="username"
        placeholder="Enter your username"
        required
    >

    <label for="password">Password</label>
    <div class="password-container">
       <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password"
            required
        > 
        <button type="button" id="togglePassword">
            <i class="fa-solid fa-eye"></i>
        </button>
    </div>
    

    <div class="form-actions">
        <button type="submit">Login</button>
    </div>

</form>

<hr>

<div class="form-footer">
    New to Whisper Pages? <a href="{{ url_for('auth.signup') }}">Create an account</a>
</div>

<script>
    const password = document.getElementById("password");
    const toggle = document.getElementById("togglePassword");

    toggle.addEventListener("click", () => {

        if (password.type === "password") {

            password.type = "text";
            toggle.innerHTML = '<i class="fa-solid fa-eye-slash"></i>';

        } else {

            password.type = "password";
            toggle.innerHTML = '<i class="fa-solid fa-eye"></i>';

        }

    });
</script>

{% endblock %}